/* WeatherApp.css */

.weather-app {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  .error {
    color: red;
  }
  